@import '/Users/apollotang/1/1-a/10-web/bundler-monorepo-transpiler/webpack/webpack5/book-survivejs-webpack5/wf--survivejs-webpack5/p030a--4.5-css-loader-lookups/code/statics/green.css';

body {
  background: cornsilk;
  display: flex;
}

.blue {
  background-image: url( ./statics/blue.png);
  width: 100px;
  height: 100px;
}

.red {
  background-image: url( /Users/apollotang/1/1-a/10-web/bundler-monorepo-transpiler/webpack/webpack5/book-survivejs-webpack5/wf--survivejs-webpack5/p030a--4.5-css-loader-lookups/code/src/statics/red.png);
  background-color: red;
  width: 100px;
  height: 100px;
}
