@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: cornsilk;
  display: flex;
  flex-direction: column;
}

.font-manrope-regular { font-family: ManropeRegular; }
.font-manrope-light { font-family: ManropeLight; }

