/* non relative url works */
body div {
  outline: solid 1px black;
  width: 100px;
  height: 100px;
}

.red {
  background-image: url(./statics/red.png); /* 333 bytes */
}

.green {
  background-image: url(./statics/green.png);  /* 333 bytes */
}

.cat {
  background-image: url(./statics/cat.jpg);   /* 7 KB */
  width: 267px;
  height: 189px;
}

.img-ny1 {
  width: 20%;
}

.div-copy-left {
  background-image: url(./statics/copyleft.svg);   /* 207 bytes */
}
