.cyan {
  background-image: url(../e0cd55e8f379d7b6310a.png);
}

body {
  background: cornsilk;
  display: flex;
  flex-direction: column;
}

body div {
  outline: solid 1px black;
  width: 100px;
  height: 100px;
}

/* non relative url works */
.red {
  background-image: url(../7ff9ffba2cf752ff8a92.png);
}

/* relative url works */
.green {
  background-image: url(../a58aa4eea32108358fcd.png);
}

/* root relative url does NOT work */
.blue {
  /* background-image: url(/statics/blue.png); */
}

/* the next two url is outside src folder */
.margenta {
  background-image: url( ../ad4a104af0f79d85ff00.png );
}

